
.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings:
    "width" 100;
}
.display-flex{
  display: flex;
}
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
}
.nav-item{
  list-style: none;
}
.nav-links {
  display: flex;
  gap: 25px;
  list-style: none;
  padding: 0;
  margin: 0;
  align-items: center;
}